<footer>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ path('app_impress_index') }}">Impress</a></li>
                <li><a href="{{ path('app_dataprotection_index') }}">Data Protection</a></li>
            </ul>
        </nav>
    </div>
</footer>
