<div class="w-64 bg-gray-800 text-white p-4">
    <nav>
        <ul>
            <li class="mb-2">
                <a role="button" href="{{ path('homepage') }}" class="block hover:text-blue-400">Homepage</a>
            </li>
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <li class="mb-2">
                    <a role="button" href="{{ path('app_user_index') }}" class="block hover:text-blue-400">Benutzer</a>
                </li>
            {% endif %}
            <li class="mb-2">
                <a role="button" href="{{ path('logout') }}" class="right block hover:text-blue-400">Logout</a>
            </li>
        </ul>
    </nav>
</div>
