{% extends 'base.html.twig' %}

{% block title %}Data Protection{% endblock %}

{% block body %}
    <h1>Data Protection Policy</h1>

    <p>
        This is the data protection policy page.
        You can add your detailed data protection information here.
    </p>
{% endblock %}
