{% extends 'base.html.twig' %}

{% block title %}Signatur{% endblock %}

{% block body %}
    <h1>Signatur</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Signatur Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for signature in signatures %}
            <tr>
                <td>{{ signature.signatureName }}</td>
                <td>
                    <a role="button" href="{{ path('app_signature_show', {'id': signature.id}) }}">anzeigen</a>
                    <a role="button" href="{{ path('app_signature_edit', {'id': signature.id}) }}">bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="25">Keine Signatur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a role="button" href="{{ path('app_signature_new') }}">Neue Signatur erstellen</a>
{% endblock %}
