{% extends 'base.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block body %}
    <h1>Impressum</h1>
    <p>
        <div>
            <b>Achim Krämer</b>
        </div>
        <div>
            Böckemeyerskamp 20
        </div>
        <div>
            Ibbenbüren 49479
        </div>
    </p>
    <p>
        <div>
            Tel.: <a><href src="tel:+49-1522-261-8330">+49-1522-261-8330</href></a>
        </div>
        <div>
            Email: <a><href src="email:kontakt@achim-kraemer">kontakt@achim-kraemer.com</href></a>
        </div>
    </p>
{% endblock %}
