:root {
    --pico-border-radius: 2rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 0.4rem;
    --pico-form-element-spacing-horizontal: 0.6rem;
    --pico-font-size: 0.9rem;
    --pico-line-height: 1.2;
}
h1 {
    --pico-font-weight: 400;
    --pico-typography-spacing-vertical: 0.5rem;
}
button {
    --pico-font-weight: 700;
}
a {
    min-height: 10px;
}
.my-header-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem; /* optional */
}

.my-body-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem; /* optional */
}

.my-client-grid {
    display: grid;
    grid-template-columns: 10% 80%;
    gap: 1rem; /* optional */
}
.button-red {
    --pico-background-color: #e53935;   /* Rot */
    --pico-border-color: #b71c1c;       /* Dunkleres Rot */
    --pico-color: white;                /* Text */
}
.button-red:hover {
    --pico-background-color: #b71c1c;
}
.btn-left {
    position: absolute;
    left: 20px;
}

.btn-center {
    position: absolute;
    right: 45%;
}

.btn-right {
    position: absolute;
    right: 20px;
}
