{% extends 'base.html.twig' %}

{% block title %}Signatur bearbeiten{% endblock %}

{% block body %}
    <h1>Signatur bearbeiten</h1>

    {{ include('signature/_form.html.twig', {'button_label': 'Update'}) }}

    <a role="button" class="btn-center" href="{{ path('homepage') }}">zurück zur Liste</a>

    {{ include('signature/_delete_form.html.twig') }}
{% endblock %}
